<div>
    <main>
        <div class="div-main-content">
            <h1>Daniel Camillo Silva</h1>
            <h2>Desenvolvedor <span>Front-end</span></h2>

            <p>Atuo como Desenvolvedor <span>Front-End</span> há quase 2 anos, experiência adquirida por meio de um Programa de Jovem
                Aprendiz. Durante esse período, desenvolvi aplicações web utilizando <span>Angular</span> como framework principal,
                além de <span>JavaScript, TypeScript, HTML</span> e <span>CSS</span>. Tenho familiaridade com bibliotecas como <span>PrimeNG</span> e também
                com <span>React</span>, o que me permite criar interfaces modernas, responsivas e escaláveis.

                Além do desenvolvimento tradicional, também atuo com <span>plataformas no-code</span> e automações de processos,
                utilizando ferramentas como o <span>CRM GoHighLevel</span> para otimizar fluxos de trabalho, qualificação de leads e
                melhorar a experiência do usuário.

                Minhas habilidades técnicas, aliadas à experiência prática com automações, me permitem contribuir com
                soluções eficientes tanto no <span>desenvolvimento front-end</span> quanto em processos integrados e otimizados.</p>
            <div class="button-container">
                <button (click)="downloadCV()">Download do meu currículo</button>
                <button class="pi pi-github" (click)="github()"></button>
                <button class="pi pi-instagram" (click)="insta()"></button>
                <button class="pi pi-linkedin" (click)="linkedin()"></button>
            </div>
        </div>

        <div class="me">
            <div class="polaroyd">
                <img src="https://myportfolio-co43.onrender.com/assets/imgs/eu.png" alt="Foto de Daniel Camillo Silva">
                <p>Dev Web Front-End</p>
            </div>
        </div>
    </main>
</div>
<router-outlet></router-outlet>