<main>
        <div class="div-main-content">
            <div class="name-section">
            <h1>Daniel Camillo Silva</h1>
             <img src="../../../../assets/imgs/angular_logo.png">
             <img src="../../../../assets/imgs/Typescript_logo.png">
            </div>
            <h2>Desenvolvedor <span>Front-end</span></h2>

            <p>Olá! Sou <span>Desenvolvedor Front-End</span> com quase <span>2 anos de experiência</span>, especializado principalmente em 
    <span>Angular</span>, <span>JavaScript</span>, <span>TypeScript</span>, 
    <span>HTML</span> e <span>CSS</span>. Também tenho conhecimento em 
    <span>PrimeNG</span> e <span>React</span>, com habilidades na criação de 
    interfaces responsivas.</p>

    <p>Além disso, atuo também com <span>no-code</span> e automações, utilizando o <span>CRM GoHighLevel</span> para 
    otimizar fluxos de trabalho e melhorar a experiência do usuário. Minhas habilidades me permitem contribuir de forma eficaz em 
    desenvolvimento front-end e em <span>processos otimizados</span>.</p>

    <p>Estou sempre em busca de novos desafios e oportunidades para crescer e inovar na área de tecnologia. Vamos nos conectar?</p>
        <div class="img-main-tech">
            <a href="https://angular.dev/"><img src="../../../../assets/imgs/angular_logo.png"></a>
            <a href="https://www.typescriptlang.org/"><img src="../../../../assets/imgs/Typescript_logo.png"></a>
            <a href="https://www.w3schools.com/js/"><img src="../../../../assets/imgs/js-logo.png"></a>
            <a href="https://primeng.org/"><img src="../../../../assets/imgs/primeng.png"></a>
            <a href="https://material.angular.dev/"><img src="../../../../assets/imgs/material.png"></a>
            <a href="https://www.mysql.com/"><img src="../../../../assets/imgs/mysql_logo.png"></a>
        </div>

            <div class="button-container">
                <button (click)="downloadCV()">Download do meu currículo</button>
                <button class="pi pi-github" (click)="github()"></button>
                <button class="pi pi-instagram" (click)="insta()"></button>
                <button class="pi pi-linkedin" (click)="linkedin()"></button>
            </div>
        </div>

        <div class="me">
            <div class="polaroyd">
                <img src="assets/imgs/eu.webp" alt="Foto de Daniel Camillo Silva">
                <p>Dev Web Front-End</p>
            </div>
                 
        <div class="me">
            <div class="polaroyd-2">
                <img src="assets/imgs/eu2.jpg" alt="Foto de Daniel Camillo Silva">
            </div>
        </div>
        </div>
    </main>

<router-outlet></router-outlet>