.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
  min-width: 90vh;
  height: 80px;
  border-bottom: 2px solid var(--white-color);
  position: relative;
  margin-bottom: 6em;
}

.logo {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 40px;
  transition: all 0.3s ease-in-out;
}

h1 {
  transition: all 0.3s ease-in-out;
}

.logo h1:hover {
  background-color: var(--main-color);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px var(--main-color);
  padding-left: 2px;
  padding-right: 4px;
  border-radius: 5px;
}
.navbar ul {
  display: flex;

  flex-direction: row;
  list-style: none;
  gap: 1em;
  padding-right: 40px;
}

.navbar ul li a {
  text-decoration: none;
  gap: 4em;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover {
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
}

.navbar ul {
  gap: 6em;
  transition: 0.3s ease-in all;
}



#buttonmenu {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  background-color: transparent;
  color: var(--main-color);
  border-radius: 5px;
  transform: scale(1.3);
  position: absolute;
  margin-left: 15em;
}

#buttonmenu:hover{
    transform: scale(1.4);
    transition: 0.3s;
    background-color: var(--main-color);
    color:var(--white-color);
}
@media (max-width: 600px) {
  .navbar ul {
    display: none;
    transition: 0.3s ease-in all;
  }
  #buttonmenu{
    display: flex;
  }

}


@media (max-width: 900px) {
  .navbar ul {
    display: none;
    transition: 0.3s ease-in all;
  }
  #buttonmenu{
    display: flex;
  }

}


@media (max-width: 1350px) {
  .navbar ul {
    display: none;
    transition: 0.3s ease-in all;
  }
  #buttonmenu{
    display: flex;
  }

}
*{
    transition: 0.2s all ease-in-out ;
}

html{
  width: 100%;
  height: 100%;
}
/* classes de exemplo do Angular material */
.sidenav-container {
  width: 100%;
  height: 100%;

  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  flex-direction: column;
}

.sidenav-content button{
  width: 6em;
  height: 3em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  background-color: transparent;
  color: var(--main-color);
  border-radius: 5px;
  font-weight: bolder;
  font-size: 20px;
}


.sidenav-content button:hover{
    transform: scale(1.2);
    transition: 0.3s;
    background-color: var(--main-color);
    color:var(--white-color)
}


/* Show and Hide in menu */

.show {
  display: flex; /* ou outro estilo para mostrar a div */
}

.hide {
  display: none; /* ou outro estilo para esconder a div */
}

/* Animations */

@keyframes grow {
    0% {
        height: 0;
    }
    100% {
        height: 65em; /* Altura final */
    }
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-nav{
  display: none;
}