<div class="header">
    <div class="logo">
        <h1>Dan</h1>
    </div>

    <div class="navbar">
        <ul>
            <li><a routerLink="/" routerLinkActive="active-link">Home</a></li>
            <li><a routerLink="/history" routerLinkActive="active-link">Minha História</a></li>
            <li><a routerLink="/projects" routerLinkActive="active-link">Projetos</a></li>
            <li><a routerLink="/feedback" routerLinkActive="active-link">Feedback</a></li>
            <li><a routerLink="/contacts" routerLinkActive="active-link">Contatos</a></li>
        </ul>

    </div>
</div>
<router-outlet></router-outlet>