<main>
    <h1>Meus Principais Contatos</h1>
  <div class="main-content">
    

    <div class="polaroyd-card">
      <div class="imgs-social-midia">
        <a href="https://www.instagram.com/daniel.camisi/"><img src="assets/imgs/instalogo.png" /></a>
        <a href="https://github.com/danielcamisi"><img src="assets/imgs/git.png" /></a>
        <a href="https://www.linkedin.com/in/danielcamisi/"><img src="assets/imgs/linkedin.png" /></a>
      </div>
      <h2>Redes Sociais</h2>
    </div>

    <div class="polaroyd-card">
      <div class="imgs-social-midia">
        <a href="https://wa.me/19994516557"><img src="assets/imgs/whatsapp.png" /></a>
      </div>
      <h2>Whatsapp</h2>
    </div>
  </div>

</main>

  <app-footer></app-footer>