<div class="footer">
    <div class="footer-content">
        <p>&copy; 2023 Daniel. All rights reserved.</p>
        <p>Powered by <a href="https://angular.io" target="_blank">Angular</a></p>
    </div>

    <div class="social-links">
        <a class="pi pi-linkedin" href="https://www.linkedin.com/in/danielcamisi/"></a>
        <a class="pi pi-github" href="https://github.com/danielcamisi"></a>
        <a class="pi pi-instagram" href="https://www.instagram.com/daniel.camisi/"></a>
    </div>
</div>