.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 2em;

    bottom: 0;
    width: 90%;
    height: 40px;


}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
     
}

.footer-content a{
    color:var(--main-color);
    font-weight: bolder;
}

.social-links a{
    padding:1em;
    font-weight: bold;
    color: var(--white-color);
}