*{
     animation: appear 0.6s ease-in-out; 
}

.personal-projects-collumns{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap:2em;
    flex-wrap: wrap;

}

.personal-projects{
    display: flex;
    align-items: center;
    justify-content: center;
      flex-wrap: wrap;
}

.certifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
    justify-content: center;
}

.projects{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
     gap:2em;
    flex-wrap: wrap;
}


h1,h2{
    color: var(--white-color);
    text-align: center;
    font-weight: bold;
    
}

h2{
    text-decoration: underline;
}
h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    background-size:cover;
    border-radius: 5px;
    
}

h3{
    font-size:0.8em;
}

.card{
    width: 300px;
    height: 300px;
    margin: 1em;
    position: relative;
    perspective: 100vh;
}



.flip{
    position: absolute;
    cursor:pointer;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.6s;
}

.front,.back{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid var(--main-color);
    backface-visibility: hidden;
}

.front{
    background-size: cover;
    background-position: center;
}

.card:hover .flip{
    transform:rotateX(180deg);
}

.back{
    background-color: var(--main-color);
    box-shadow: 0 0 30px var(--main-color);
    transform: rotateX(180deg) scale(1.07);
    padding:10px;
}

img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}



.back a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    text-decoration: underline;
}

.back p{
    font-size: 0.7em;
    text-align: justify;
   
}

.technologies img{
    width: 50px;
    height: 50px;
    margin: 0.2em;
    border-radius: 10px;
    object-fit: contain;
}

button{
    background-color: var(--bg-color);
    color: var(--white-color);
    border: 2px solid var(--white-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px var(--white-color);
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: var(--main-color);
    color: var(--white-color);
    box-shadow: 0 0 20px var(--white-color);
    border: 1px solid var(--white-color);
    transform: scale(1.05);
}
hr{
    margin-top: 5em;
    width: 100%;
}

.container{
    
    width: 80%;
    margin:auto;
}
