main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 5em;
  margin-bottom: 10em;
}

.middle-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#middle {
  display: flex;
  height: 65em;
  background-color: var(--main-color);
  width: 2px;
  animation: grow 2s ease-in-out; /* Animação para crescer */
}

@keyframes grow {
  0% {
    height: 0;
  }
  100% {
    height: 65em; /* Altura final */
  }
}

#point {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--main-color);
  animation: pulse 2s infinite; /* Animação de pulsar */
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Aumenta o tamanho */
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  text-align: justify;
  width: 30em;
  max-width: auto;
  border: 2px solid var(--main-color);
  padding: 1em;
  animation: appear 0.3s ease-in-out;
  transition: 0.3s all ease-in-out; /* Adiciona transição */
}

.card:hover {
  transform: translateY(-5px); /* Eleva a carta */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.582); /* Adiciona sombra */
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--white-color);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.left-div {
  display: flex;
  gap: 20em;
  flex-direction: column;
  padding-right: 4em;
  padding-top: 5em;
}

.right-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20em;
  padding-top: 20em;
  padding-left: 4em;
}

span {
  background-color: var(--main-color);
}

.toggle-btn p {
  animation: grow 0.8s all ease-in-out;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 10px;
  height: 10px;
  border: solid var(--white-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}

.card p {
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Animação suave */
  max-height: 1;
  opacity: 1;
  overflow: hidden;
}

.show {
  max-height: 100px; /* Ajuste conforme necessário */
  opacity: 1;
}

.hide {
  max-height: 0;
  opacity: 0;
}

/* Efeito de grow */
.card-content {
  transition: transform 0.5s ease; /* Animação de crescimento */
}

.show.card-content {
  transform: scaleY(1); /* Aumenta a escala verticalmente */
}

.hide.card-content {
  transform: scaleY(0); /* Recolhe a escala verticalmente */
}

@media (max-width: 1060px) {
  main {
    flex-direction: column;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
  .middle-div {
    display: none;
  }
  .right-div {
    margin:0;
    padding: 0;
    padding-left: 0;
    gap: 2em;
    margin: 2em;
  }
  .left-div {
    padding: 0;
    padding-left: 0;
    gap: 2em;
  }
  
}



#hide-div{
  display: none;
  
  
}
.story-container {
    padding: 20px;
    max-width: 800px; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centraliza a div */
    background-color: var(--bg-color); /* Cor de fundo opcional */
     /* Bordas arredondadas */
    box-shadow: 0 2px 10px var(--main-color); /* Sombra opcional */
   transition: all 0.3s ease-in-out;
   opacity: 0;
}

.story-section {
    margin-bottom: 20px; /* Espaçamento entre seções */
}

.story-section h1 {
    text-align: center; /* Centraliza o título principal */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.story-section h2 {
    color: var(--main-color); /* Use a cor desejada */
}

.story-section p {
    line-height: 1.6; /* Melhor legibilidade */
}



@media (max-width:900px){
  .card{
    display: none;
  }
  .story-container{
    opacity: 1;
  }

  #hide-div{
    display:flex ;
    flex-direction: column;
  }

}