<main>
    <div class="left-div">
        <div class="card" id="first-left">
            <h1>Quando criança</h1>
            <p [ngClass]="{'show': selectedCard === 'first-left', 'hide': selectedCard !== 'first-left'}" class="card-content">
                Meu contato com tecnologia foi bem prematura, vendo meu pai trabalhar como técnico de Informática e
                Eletrônica. Fazendo com que eu desenvolvesse muita curiosidade nesta área
            </p>
            <button class="toggle-btn" (click)="toggleDetails('first-left'); $event.stopPropagation()">
                <i class="arrow" [ngClass]="{'up': selectedCard === 'first-left', 'down': selectedCard !== 'first-left'}"></i>
            </button>
        </div>

        <div class="card" id="second-left">
            <h1>Ensino Superior - 2023 - Atual</h1>
            <p [ngClass]="{'show': selectedCard === 'second-left', 'hide': selectedCard !== 'second-left'}" class="card-content">
                Atualmente curso Análise e Desenvolvimento de Sistemas na Universidade São Francisco, onde venho aprimorando 
                minhas habilidades em programação, lógica, bancos de dados e estruturas de software. A formação tem sido essencial 
                para consolidar minha base teórica e fortalecer minha atuação prática como desenvolvedor.
            </p>
            <button class="toggle-btn" (click)="toggleDetails('second-left'); $event.stopPropagation()">
                <i class="arrow" [ngClass]="{'up': selectedCard === 'second-left', 'down': selectedCard !== 'second-left'}"></i>
            </button>
        </div>
    </div>

    <div class="middle-div">
        <div id="point"></div>
        <div id="middle"></div>
        <div id="point"></div>
    </div>

    <div class="right-div">
        <div class="card" id="first-right">
            <h1>Ensino Técnico - 2021 - 2022</h1>
            <p [ngClass]="{'show': selectedCard === 'first-right', 'hide': selectedCard !== 'first-right'}" class="card-content">
                Concluí o curso técnico em Desenvolvimento de Sistemas na ETEC Bento Quirino, onde aprendi os fundamentos da 
                programação e participei dos meus primeiros projetos práticos. Esse período foi essencial para meu início na área 
                de tecnologia e despertou ainda mais minha vontade de seguir carreira como desenvolvedor.
            </p>
            <button class="toggle-btn" (click)="toggleDetails('first-right'); $event.stopPropagation()">
                <i class="arrow" [ngClass]="{'up': selectedCard === 'first-right', 'down': selectedCard !== 'first-right'}"></i>
            </button>
        </div>

        <div class="card" id="second-right">
            <h1>Jovem Aprendiz - 2023 - Atual</h1>
            <p [ngClass]="{'show': selectedCard === 'second-right', 'hide': selectedCard !== 'second-right'}" class="card-content">
                Iniciei minha jornada profissional como Jovem Aprendiz na Stefanini IT Solutions, atuando como Desenvolvedor 
                Front-End Júnior. Utilizo Angular, TypeScript, JavaScript e bibliotecas como PrimeNG para desenvolver aplicações web. 
                Também colaboro com a criação de testes, documentação técnica e automações de tarefas em Linux. Paralelamente, atuo na Galgar Digital, 
                com foco em automações no-code dentro do CRM GoHighLevel.
            </p>
            <button class="toggle-btn" (click)="toggleDetails('second-right'); $event.stopPropagation()">
                <i class="arrow" [ngClass]="{'up': selectedCard === 'second-right', 'down': selectedCard !== 'second-right'}"></i>
            </button>
        </div>
    </div>
</main>
