
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6em;
  animation: appear 0.6s ease-in-out; 
  transition: 0.3s all ease-in-out;
  padding-bottom: 3em;
}

h1 {
  text-align: center;
  color: white;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30em;
  height: auto;
  background-color: rgb(43, 43, 43);
  padding: 2em;

}

.polaroyd-bg {
  background-color: white;
  height: auto;
  width: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2em;
  color: var(--bg-color);
  box-shadow: 0 0 6rem var(--main-color);
  padding-top:0.7em; 
}

mat-form-field {
  width: 25em;
}

#submit-feedback-button  {
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s all ease-in-out ;
  width: 25em;
}
#submit-feedback-button:hover {
  transition: 0.3s all ease-in-out ;
  background: transparent;
  color: var(--main-color);
  box-shadow: 0 0 3rem var(--main-color);
  font-weight: bold;
  text-decoration: underline;
}

hr{
    width: 25em;
    margin-bottom: 2em;
}

.myColors{
    color:white;
}

.myColors:focus{
    color: white;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
      border-radius: 0px !important;
    }


@media screen and (max-width:700px){
  .polaroyd-bg{
    margin-left:1em;
  }
}

@media screen and (max-width:605px){
  .polaroyd-bg{
    margin-left:2em;
  }
}
@media screen and (max-width:500px){
  .polaroyd-bg{
    margin-left:13em;
  }
}

@media screen and (max-width:375px){
  .polaroyd-bg{
    margin-left:15em;
  }
}

@media screen and (max-width:300px){
  .polaroyd-bg{
    margin-left:22em;
  }
}