main {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: var(--white-color);
  width: 25em;
  height: 13em;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column    ;
  background-color: var(--second-bg-color);
  width: 24em;
  height: 18em;
  border-radius: 20px;
  border-radius: 0 !important;
  margin-bottom:5.5em ;
 
}

h1,
p {
  color: var(--white-color);
}
* {
  background-color: var(--second-bg-color);
}

.no-border-radius-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
      border-radius: 0px !important;
      
    }

span{
    color:rgb(168, 13, 13);
    font-weight: bolder;
}

a{
    color:orange;
    transform: scale(3.0);
}