*{
     animation: appear 0.6s ease-in-out; 
    transition: 0.3s all ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

app-footer{
    left:100%;
    right:100%;
    bottom: 0;
}