/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import "primeicons/primeicons.css";
:root{
    --bg-color: #121212;
    --second-bg-color: #1F1F1F;
    --main-color: #7C238C;
    --white-color: #fff;
    --disabled-color: #fff3;
    --header-color:#1F1F1F;

    
}

*{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
   
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color:var(--white-color);
    animation: appear 0.6s ease-in-out; 
    transition: 0.3s all ease-in-out;
    width: 100vw;
    height: 100vh;
}

body {font-family: Roboto, "Helvetica Neue", sans-serif; }


@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    
.no-border-radius-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
      border-radius: 0px !important;
    }

      ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
      border-radius: 0px !important;
    }